
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

html{

    margin: 0;
    padding: 0;
}

body {
    font-family: Cabin;
    color: black;
    font-weight: 400;
    font-size: 16pt;
}

#marca {
    font-family: "Lobster";
    font-weight: 400;
    font-style: normal;
    padding-left: 17%;
    font-size: 37pt;
}

#navbar {
    height: 60px;
}


#imgPrincipal {
    width: 550px;
    max-width: 100%;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

#inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 5%;
}

#inicioParrafo {
    width: 425px;
    padding-top: 2%;
    padding-left: 10px;
}

#hr1 {
    
    justify-self: center;
    opacity: 1;
    width: 344px;
}

#hr2 {
    opacity: 1;
    width: 344px;
}

#hr3 {
    opacity: 1;
    width: 482px;
}

#divhr {
    display: flex;

}

#btnslide {
    background-color: black;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    padding: 0;
    border: 0;
}

#listaingredientes {
    list-style-type: none;
    
}

#receta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    /* margin-bottom: 5%; */
}

#ingredientes {
    width: 500px;
    max-width: 100%;
    padding-top: 2%;
    padding-left: 10px;
}

#preparacion {
    width: 500px;
    max-width: 100%;
    padding-top: 2%;
}

#hr4 {
    justify-self: center;
    opacity: 1;
    width: 1000px;
    margin: 0;
}

#hr5 {
    margin: 0;
    justify-self: center;
    opacity: 1;
    width: 344px;
}

#cards {
    padding-top: 60px;
}

#newsletter1 {
    height: 534px;
    background-color: #DC3545;
    
}

#newsletter2 {
    height: 448px;
    background-color: #DC3545;
    
}

#marcafooter {
    color: #ffffff;
    font-family: "Lobster";
    font-weight: 400;
    font-size: 37pt;
}

footer {
    height: 125px;
    background-color: #373A3C;
}