
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


html{

    margin: 0;
    padding: 0;
}

#marca {
    font-family: "Lobster";
    font-weight: 400;
    font-style: normal;
    padding-left: 17%;
    font-size: 37pt;
}


#imgPrincipal {
    width: 550px;
    max-width: 100%;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

#inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
}

#inicioParrafo {
    max-width: 425px;
    max-height: 201px;
    padding-top: 2%;
    padding-left: 10px;
}

#hr1 {
    
    justify-self: center;
    opacity: 1;
    width: 344px;
}

#hr2 {
    opacity: 1;
    width: 344px;
}

#hr3 {
    opacity: 1;
    width: 482px;
}

#divhr {
    display: flex;

}

#btnslide {
    background-color: black;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    padding: 0;
    border: 0;

}
